#curChatom
{
	font-size: 1.5em;

	color: #FFF;
	text-shadow: black 0.1em 0.1em 0.2em;
	padding-top: 20px;
    font-weight: bold;
    vertical-align: middle;
	padding: 10px;
}

.button
{
	padding: 10px;	
	margin-bottom: 15px;
}


/*Fixes for  jquerymobile */
.ui-page   {
    /* For < CSS3 Browsers */
   	background: url("<%= asset_path('backer.png') %>") repeat-x center top;
    /* For Browser sthat support multiple backgrounds */
    background: url("<%= asset_path('new_mathematics.png') %>") repeat, url("<%= asset_path('backer.png') %>") repeat-x center top;
}

/* Get rid of silly shadow*/
.ui-body-c, .ui-dialog.ui-overlay-c {
    text-shadow: 0 0 0 #000;
}

/*Pop up dialog background clear */
.ui-body-a, .ui-dialog.ui-overlay-a {
    background: none;
}

/* Next Chatom Button size down */
section .controls
{
    width: 300px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 25px;
}

/* Align form stuffs */
input.ui-input-text
{
    margin: 5px;
}

#footer a
{
	color: #fff;
}
