html,
body {
	margin:0;
	padding:0;
	height:100%;

	background-color: #56a5c7;   
   	background-image: url("../img/backer.png");   
   	background-repeat: repeat-x;
   	background-position: top;
	
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
}
#container {
   min-height:100%;
   position:relative;
}
#header {
   background:#fff;
   background-image: url("../img/whitey.png");
   padding:2px;
   height: 115px;
   overflow: visible;
   text-align: center;
   border-bottom: 4px solid #000;
}
#body {
   padding:10px;
   padding-bottom:110px;   /* Height of the footer */

}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:110px;   /* Height of the footer */
   background-color: #56a5c7;
}